.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-width) solid color-mix(in oklab, var(--ring) 50%, transparent);
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--content-width);
}

.navbar > div {
    flex: 1;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.navbar-logo img {
    height: 40px;
    width: 40px;
}
.navbar-logo a {
    font-family: var(--font-cinzel);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
    justify-content: flex-end;
    color: color-mix(in oklab, var(--foreground) 90%, var(--background));
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: all 0.2s ease-in-out;
}
.filter:hover {
    color: var(--primary);
    cursor: pointer;
}
.filter:not(.not-filter):hover i {
    --fa: "\f0c9";
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-links i {
    font-size: 20px;
}

/*<div className="footer">
                    <img src="/glass.png" alt="Past in a Glass" />
                    <span className="footer-title">Past in a Glass</span>
                    <span className="footer-text">
                        <span>A collection of recipes & stories from the past.</span>
                        <a href="https://www.instagram.com/pastinaglass/" target="_blank" rel="noopener noreferrer">
                            <i className="fab fa-instagram"></i> Instagram
                        </a>
                    </span>
                </div>*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border-top: var(--border-width) solid color-mix(in oklab, var(--ring) 50%, transparent);
    color: color-mix(in oklab, var(--foreground) 90%, var(--background));
}
.footer img {
    height: 40px;
    width: 40px;
}
.footer-title {
    font-family: var(--font-cinzel);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--primary);
    padding-bottom: 10px;
}
.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9rem;
}